/* 
   CSS RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol li, ul li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASE STYLES */
html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.hidden {display:none;}

h1 {font-size: 3rem;}
h2 {font-size: 2.8rem;}
h3 {font-size: 2.6rem;}
h4 {font-size: 2.4rem;}
h5 {font-size: 2.2rem;}
h6 {font-size: 2rem;}
p, label, input, button {font-size: 1.6rem;}
.bold {font-weight: 700;}

/* FLEXBOX */
.flex {
    display:flex;
}

.col {
    flex-flow:column;
}

.center {
    justify-content: center;
    align-items: center;
}

header, main {
    align-items: center;
}

.col2 {
    justify-content: space-around;
    align-items: center;
}

header {
    justify-content: space-between;
}

/* HEADER */
nav {
    list-style: none;
}

body {
    background: #91aaf4;
    background-image: url(/stars.jpeg);
    background-size: auto 100%;
}

header {
    background: #334069;
    padding:2rem;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
}

header a, nav a {
    color: #CCC6E1;
    text-decoration: none;
    font-size: 2.5rem;
}

/* H1 / Logo */
h1 {
    letter-spacing: 0.1rem;
    margin-left: 2rem;
}

h1, h2 {text-transform:uppercase;}

h1 a {
    font-size: 3.4rem;
}

/* glowing effect */
h1:hover {
    text-shadow: #FC0 1px 0 10px;
}

/* SOCIAL MEDIA ICONS */
#socials {
    margin-right: 2rem;
}

#socials a {
    color: #CCC6E1;
}

#socials a:not(:last-child) {
    margin-right:2rem;
}

#socials a:hover {
    color: #fff;
}

/* Spellbook button */
.btn {
    background: #101935;
    border: 1px solid #CCC6E1;
    height: 3rem;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.btn:hover {
    border: 1px solid #CCC6E1;
    color: #CCC6E1;
    box-shadow: #FC0 1px 0 10px;
}

/* Main Section Sizing */
main {
    height: 20rem;
    justify-content: center;
    border: 2px dotted white;
    border-radius: 35px;
    padding: 3rem 1rem;
    background: rgba(255, 255, 255, 0.2);
}

/* Styling instructions on homepage */
#instructions {
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    width: 40rem;
    line-height: 3.5rem;
}

/* Search area */
input {
    background: #654EB0;
    color: #fff;
    border-radius: 15px 0 0 15px;
    text-align: center;
    border: 2px solid #654EB0;
    height: 3rem;
    border: 0.5px solid #CCC6E1;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input, #search-btn {
    font-size: 2rem;
    box-shadow: #CCC6E1 1px 0 10px;
}

#search-btn {
    border-radius: 0 15px 15px 0;
    background: #CCC6E1;
    border: 0.5px solid #654EB0;
    height: 3.5rem;
    cursor: pointer;
}

/* Display Spell */
#spell-sect {
    margin-top: 7rem;
}

#spell-desc {
    align-items: center;
    width: 70rem;
    height: 40rem;
}

#spell-desc section {
    flex: 1;
    height: 100%;
}

#left-page {
    background: #334069;
    border: 10px solid #CCC6E1;
    color: #CCC6E1;
    left:0.5rem;
}

#left-page h2 {
    text-align:center;
    margin: 2rem;
}

#right-page {
    background: #CCC6E1;
    border: 10px solid #334069;
    color: #000;
    right:0.5rem;
}

#left-page, #right-page {
    padding: 1rem;
    font-size: 2rem;
    position:relative;
    overflow: scroll;
}

#left-page li {
    margin: 2rem 0 1rem 2rem;
}

#dmgUL li {
    margin: 0.5rem 2rem;
    list-style:circle;
}

#dmgUL {
    margin: 0 0 0 2rem;
}

#right-page p {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1rem;
}

#plus {
    font-size: 2.8rem;
    background: #654EB0;
    color: #CCC6E1;
    border: 1px solid #CCC6E1;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    text-align:center;
    cursor:pointer;
}

#plus:hover {
    background: #334069;
    border: 1px solid #CCC6E1;
}

/* FOOTER */
footer {
    background: #0a0f23;
    margin-top: 10rem;
    justify-content:center;
    text-align: center;
    padding: 0.5rem;
}

footer, footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-shadow: #fc0 1px 0 10px;
}

/* MEDIA QUERIES */
@media all and (max-width:1150px) {
    .col2 {
        flex-direction: column;
    }

    main {
        margin: 4rem 0;
    }

    #spell-sect {
        margin:2rem 0;
    }
}

@media all and (max-width:710px) {

        main {
            padding: 0;
        }

        #instructions {
        font-size: 2rem;
        width: 35rem;
    }

    #spell-desc {
        width: 60rem;
        height: 30rem;
    }

    #right-page p, #left-page li {
        font-size: 1.8rem;
    }

    #left-page h2 {font-size: 2.4rem;}

    .btn {
        margin: 1rem;
        padding: 0.8rem;
        font-size: 2rem;
    }
}

@media all and (max-width:670px) {
    h1 a {
        font-size: 2.9rem;
    }
}